/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Otros
*/

:root
{
/*Colores*/
--BG-lineal: linear-gradient( 207.8deg , #201E1C 16.69% , #F7931A 100% );
--bitcoin-orange: #F7931A;
--soft-orange: #FFE9D5;
--secudary-blue: #1a9af7;
--soft-blue: #e7f5ff;
--warm-black: #201e1c;
--black: #282623;
--grey: #bababa;
--off-white: #faf8f7;
--just-white: #fff;
}


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*header*/

header
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 3.2rem;
    height: 33.4rem;
    text-align: center;
    background: var(--BG-lineal);
}

header img
{
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center; /*asi se alinea con flex*/
}

.header--title-container
{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}

.header--title-container h1
{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);

}

.header--title-container p
{
    margin-top: 2.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button
{
    position: absolute;
    left: calc(50% - 11.5rem);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span
{
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1rem;
    background-image: url('./assets/icons/vector.svg');
}